<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<!-- Avoid warning about nonexisting favicon-->
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="style.css">
		<title>GBL-ICG</title>
	</head>
	<body>
		<%- include(`./html/${StageName}-title.html`); %>
		<table>
			<tr>
				<td>
					<p>Frametime / FPS: </p>
				</td>
				<td>
					<p id="performance-output"></p>
				</td>
			</tr>
		</table>

		<table id="top-container">
			<tr>
				<td id="canvas-container">
					<canvas id="gl-canvas">
						If you see this, your browser doesn't support WebGL.
						<!-- TODO: introductory text before starting level -->
					</canvas>
				</td>

				<td id="tasks-container">
					<%- include(`./html/${StageName}-tasks.html`); %>
				</td>
			</tr>
		</table>

		<h2>Theory recap</h2>
		<p>
			Remember ... from the lecture? No worries! Here's a short summary of the most important bits you will need.
		</p>
		<script type="text/javascript">
			var stageName = '<%= StageName %>';
		</script>
		<script type="module" src="Main.js"></script>
	</body>
	<%- include('./html/footer.html'); %>
</html>