/* TODO: UHH corporate style guidelines */
body {
  font-family: sans-serif;
  font-size: 16px;
  color: #212121;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

body .code {
  font-family: monospace;
  display: inline;
  background-color: #e2e2e2;
  color: #000000;
}
li {
  padding-top: 0.8em;
}

h1 {
  color: #0271bb;
}
h2 {
  color: #0271bb;
}

#top-container {
  width: 100%;
}

#canvas-container {
  width: 60%;
}

#triangle_img {
  width: 4vw;
  height: 4vw;
  vertical-align: middle;
}

#tasks-container {
  width: 40%;
  padding-left: 2vw;
  vertical-align: top;
}

#tasks-container h2 {
  display: inline;
  vertical-align: middle;
}

#tasks-container * {
  margin-top: 0;
}
#tasks-container button {
  margin-bottom: 1em;
}
#tasks-container .heatslider {
  appearance: none;
  background: linear-gradient(to right, rgb(78, 78, 255), rgb(255, 75, 75));
  vertical-align: top;
}

#gl-canvas {
  width: 100%;
	box-shadow: 0 0 0 1px #424242,
              0 0 0.5vw 0.25vw #b1b1b1;
	transition: all 0.15s;
}
#gl-canvas.playing {
	box-shadow: 0 0 0 1px #0271bb,
              0 0 1vw 0.5vw #0271bb86;
}

footer {
  margin-top: 3em;
}
footer p {
  display: inline;
}
footer p.copyright {
  float: left;
}
footer p.licenses {
  float: right;
  margin-left: 2em;
}